

#div1{
	background:green;
	width:40%;
	
}

body{
	margin-left:5%;	
	margin-right:5%;	
}

form{
	font-family: verdana;
 	font-size: 14px;
 	line-height: 30px;
	background-color:lightgrey;
	padding:10px;
	padding-top:0;
		
}

canvas{
	position:absolute;
	float:right;
	top:0;
	right:0;
	
}

.num{
	width:15px;
}